{% include "admin/header.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Data about book
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        <div class="mb-3">
                          <label for="name" class="form-label">Name:</label>
                          <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="Write book name"> 
                        </div>
                        <div class="mb-3">
                          <label for="image" class="form-label">Image:</label>
                          <input type="text"
                            class="form-control" name="image" id="image" aria-describedby="helpId" placeholder="Select the image">
                        </div>
                        <div class="mb-3">
                            <label for="url" class="form-label">URL to download:</label>
                            <input type="text"
                              class="form-control" name="url" id="url" aria-describedby="helpId" placeholder="URL to download">
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Add book</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    Footer
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-responsive-md">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name:</th>
                            <th scope="col">Image:</th>
                            <th scope="col">URL:</th>
                            <th scope="col">Accions:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td>1</td>
                            <td>Python</td>
                            <td>imagen.jpg</td>
                            <td><a href="https://www.amazon.com.mx/Mastering-Python-powerful-efficient-capabilities/dp/1800207727/ref=asc_df_1800207727/?tag=gledskshopmx-20&linkCode=df0&hvadid=547232958635&hvpos=&hvnetw=g&hvrand=2076185541452249790&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1010043&hvtargid=pla-1605764166947&psc=1">Click me</a></td>
                            <td>Delete</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% include "admin/footer.html" %}